@import "tailwindcss";

@layer base {
  body {
    @apply antialiased text-gray-900 bg-gray-50;
    margin: 0;
    padding: 0;
  }
  
  #root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
